@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat&family=Raleway&family=Roboto&family=Tenali+Ramakrishna&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
}

body {
  background-color: #092327;
}

.dots {
  position: relative;
}

.dots::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: #c4ffb2; 
  padding: 4.5px;
  border: 2px solid #092327;
  right: -9px;
  top: 39%;
  /* color: rgb(196, 255, 178) */

}
.dots::before {
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: #c4ffb2;
  padding: 4.5px;
  border: 2px solid #092327;
  left: -9px;
  top: 39%;

}

.lines {
  position: relative;
}

.lines::before{
  position: absolute;
    content: "";
    /* width: 50%; */
    border-top: 1px solid #c4ffb245;
    right: 0;
    top: 50%;
}

.lap{
  position: relative;
}

.lap::before {
  position: absolute;
  content: "";
  width: 25%;
  height:98%;
  background-color: #0a2e2f;
  top: 0;
  left: 24%;
  filter: blur(0.5px);  
  z-index: -1;
  border-bottom: 7px solid transparent;
    border-image: linear-gradient(to right, #c4ffb2, #092327, #C4FFB2);
    border-image-slice: 1;
}

.glow {
  background-image: url('./assets/glow.svg'), url('./assets/glow2.svg');
  background-position: -150px -120px, 120% 100%;
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
}

.glow2 {
  background-image: url('./assets/glow.svg'), url('./assets/glow2.svg'), url('./assets/glow.svg');
  background-position: -150px 0px, 120% 50%, -150px 100%;
  background-size: auto, auto, auto;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

.glow3 {
  background-image: url('./assets/glow2.svg');
  background-position: 120% 10%;
  background-size: auto;
  background-repeat: no-repeat;
}
.glow4 {
  background-image: url('./assets/glow.svg'), url('./assets/glow2.svg');
  background-position: -150px 1px, 120% 120%;
  background-size: auto, auto;
  background-repeat: no-repeat, no-repeat;
}

.projects {
  position: relative;
}
.projects::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.398);
  transition: 0.5s;
  /* background-image: url(./assets/savics.TEXT. orange.png); */
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
  opacity: 0;
  border-radius: 8px;
}

.projects:hover::before {
  opacity: 1;
  transition: 0.5s;
}

.container {
  @apply max-w-[1197px] m-auto 
}

.slick-slide div {
  margin: auto;
  /* width: 50%; */
  height: 50%;
  /* border:5px solid #C4FFB2; */
  font-size:50px;
  color: #c4ffb2;
  text-align: center;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: #c4ffb2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
color: #c4ffb2;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 25px;
  line-height: 1;
  opacity: .75;
color: #c4ffb2;
  -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 480px) {
.lap::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 110%;
    background-color: #0a2e2f;
    top: 0;
    left: 25%;
    filter: blur(0.5px);
    z-index: -1;
    border-bottom: 7px solid transparent;
    border-image: linear-gradient(to right, #c4ffb2, #092327, #C4FFB2);
    border-image-slice: 1;
  }

    .glow4 {
      background-image: url('./assets/glow.svg'), url('./assets/glow2.svg');
      background-position: -250px 1px, 150px 140%;
      background-size: auto, auto;
      background-repeat: no-repeat, no-repeat;
    }
}

.contain {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 1px dashed antiquewhite;
}

.item-header-heading {
  width: 50%;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.item-header-heading2 {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

/* .item-image {
  height: 400px;
  background-color: gray;
  margin: 10px 0px;
} */

.item-footer {
  display: flex;
  align-items: center;
  border-top: 1px dashed antiquewhite;
  padding-top: 5px;
}